* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #99727d;
    padding: 40px 0;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;    
    font-size: 22px;
    font-weight: 300;
    color: #fff;        
}

.nav-link::after {
    content: '';    
    display: block;
    height: 2px;
    width: 0%;
    background-color: #fff;
    transition: .3s;
}

.nav-link:hover::after {
    width: 100%;
}